#!/bin/sh

~/.fehbg &

picom -b &

xinput set-button-map 'Kensington Expert Wireless TB Mouse' 3 8 1 4 5 6 7 2 &

$_JAVA_AWT_WM_NONREPARENTING=1 &

while true
do
	VOL=$(pamixer --get-volume-human)
  UPDATES="$(pacman -Qu | wc -l)"
  LOCAL_DATE=$(date +%a" "%d.%m.%Y)
	LOCAL_TIME=$(date +%R)
	TEMP_CPU="$(sensors -j | jq '."k10temp-pci-00c3"."Tctl"."temp1_input"|floor')°C"
  TEMP_GPU="$(sensors -j | jq '."amdgpu-pci-0b00"."junction"."temp2_input"|floor')°C"

  xsetroot -name "   墳 $VOL    $TEMP_CPU   ﬙ $TEMP_GPU    $UPDATES    $LOCAL_DATE    $LOCAL_TIME   "
	sleep 10s
done &
